<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <div class="row" >


            <div class="col-md-3">
                  <img class="img-circle" src="assets/contactus/1.jpeg" style="width:200px"alt="">

                  <div class="text-center">
                    Joanna, <strong>OWNER</strong><br>





        </div>
            </div>

            <div class="col-md-3">
                 <img class="img-circle" src="assets/contactus/4.jpg" style="width:200px" alt="" float="left">

                <div class="text-center">
                    Amy, <strong>MANAGER</strong><br>
                    Email:  amy@resort.com
                </div>

            </div>


            <div class="col-md-3">
             <img class="img-circle" src="assets/contactus/3.jpg" style="width:200px" alt="">
                <div class="text-center">
                    Mike, <strong>MANAGER</strong><br>
                    Email: mike@resort.com
                </div>
            </div>

            <div class="col-md-3">
                <img class="img-circle" src="assets/contactus/2.jpg" style="width:200px" alt="">
                <div class="text-center">
                    Betty, <strong>Receptionist</strong><br>
                    Email: betty@resort.com
                </div>
            </div>

        </div>



<footer>
        <div class="stickyicon-list">
          <a href="https://www.facebook.com/rvkumar29" class="facebook">
          <i class="fa fa-facebook"></i>
          </a>
          <a href="#twitter" class="twitter">
          <i class="fa fa-twitter"></i>
          </a>
          <a href="#linkedin" class="linkedin">
          <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://instagram.com/i.rxvii?igshid=YmMyMTA2M2Y=" class="instagram">
          <i class="fa fa-instagram"></i>
          </a>
          </div>
        </footer>






