<!DOCTYPE html>
<html>
    <head>
        <title>hotel management</title>
    </head>
    <link rel="stylesheet" href="website.component.css">
    <body>
      <div class="pimg1">
          <div class="ptext">
                  <marquee><strong>Welcome to 👑Golden Crown Hotels©</strong></marquee>
          </div>
      </div>
      <section class="section section-light">
          <h2>GOLDEN CROWN HOTELS©</h2>
          <p>
            A nailed down definition of hotel management is that it's a field of business and a study, that tends itself to the operational aspects of a hotel as well as a wide range of affiliated topics.

          </p>

          </section>
          <div class="pimg1">
            <div class="ptext">

            </div>
        </div>
        <section class="section section-drak">
            <h2>Hotel & Spa</h2>
            <p>
              Hotel & Spa is a family-friendly hotel that offers a wide range of accommodation types, from rooms to suites. All this in the peaceful surroundings of our beautiful gardens, will make your time at (CN) an unforgettable holiday.

            </p>
            </section>
            <div class="pimg2">
                <div class="ptext">
                    <!-- <span class="border trans">
                        Image Three Text
                    </span> -->
                </div>
            </div>

                <div class="pimg3">
                    <div class="ptext">
                            "Courteous treatment  make a customer a walking advertisement."
                    </div>
                </div>
    </body>
</html>
