<!-- <p>header works!</p> -->
<section>
  <mat-toolbar  class='navbar' color='primary'>
    <div class="logo">
      <div class="carousel-item active">
        <img src="assets/aboutus/logo.png"
          height="50px" width="50px" style="border-radius: 50%;" alt="...">
      </div>
      </div>

      <div class="navigation">
        <a mat-raised-button  href="#" routerLink=""><mat-icon>chalet</mat-icon><strong>HOME</strong></a>
        <a  mat-raised-button routerLink="/aboutus"> <mat-icon>info</mat-icon><strong>ABOUT US</strong></a>
     <!-- <button mat-raised-button >
          <a [routerLink]="['/aboutus']">About Us</a>
          </button> -->
         <!-- <button mat-raised-button ><a routerLink="/aboutus"routerLinkActive="active">About Us</a></button>  -->
        <a  mat-raised-button  routerLink="/contactus"> <mat-icon>contact_support</mat-icon><strong><b>CONTACT US</b></strong></a>
        <a mat-raised-button routerLink="/login"><mat-icon>login</mat-icon><strong>LOGIN </strong></a>
        <a mat-raised-button routerLink="/"><mat-icon>logout</mat-icon><strong>LOGOUT</strong></a>

      </div>

    </mat-toolbar>
    </section>
