<!-- <p>owner works!</p> -->
<section class="header">
    <nav>

      <!-- <a href="" routerLink="/dashboard"> -->

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images.png"

                height="150px" width="150px" style="border-radius: 50%;" alt="...">
            </div>
          </div>

        </div>
    </nav> <!-- </a> -->
  <nav>
      <div class="nav-links" id="navLinks">

        <div class="d-flex">
          <ul>
            <li><a mat-raised-button href="" routerLink="/"><mat-icon>chalet</mat-icon><strong>HOME</strong></a></li>
            <li><a mat-raised-button href="" routerLink="/dashboard"><mat-icon>dashboard</mat-icon><strong>DASHBOARD</strong> </a></li>
            <!-- <li><a href="" routerLink="/owner"> ♛Ỗฬ𝓝ᗴŘ </a></li> -->
            <li><a  mat-raised-button href="" routerLink="/manager"><strong>MANAGER</strong></a></li>
            <li><a  mat-raised-button href="" routerLink="/receptionist"><strong>RECEPTIONIST</strong></a></li>
            <!-- <li><a href="" routerLink="/reservation">BOOKING DETAILS</a></li>
            <li><a href="" routerLink="/room">ROOM DETAILS</a></li>
            <li><a href="" routerLink="/department">DEPARTMENT</a></li>
            <li><a href="" routerLink="/inventory">INVENTORY</a></li>
            <li><a href="" routerLink="/staff">STAFF</a></li>
            <li><a href="" routerLink="/guest">GUEST DETAILS</a></li> -->


          </ul>


        </div>
        <br>
        <div class="margin-left">
          <h2 ><b>DETAILS:</b> </h2>
          <ol>
            <b>
        <li><a mat-raised-button href="" routerLink="/reservation"><strong>BOOKINGS</strong> </a></li>
        <br>
        <li><a mat-raised-button href="" routerLink="/room"><strong>ROOMS</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/department"><strong>DEPARTMENTS</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/inventory"><strong>INVENTORY</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/staff"><strong>STAFF</strong></a></li><br>
        <li><a mat-raised-button href="" routerLink="/guest"> <strong>GUEST DETAILS</strong></a></li>
            </b>
          </ol>
      </div>
      </div>
    </nav>

    <div class="text-box">
      <!-- <br >WELCOME!!<br> -->


     <!-- <p>WELCOME......</p>
      <P> to BACK BENCHERS .</P>  -->
      <!-- <br >WELCOME!!<br> -->

    </div>


  </section>
